html{
    margin: 0;
    padding: 0;
}


.background {
    position: absolute;
    background-image: url('../../../public/images/background/letter.png');
    background-size: cover;
    background-repeat: no-repeat;
    top: 3vh;
    width: 99vh;
    height: 99vh;
    left: 29vw;
    z-index: -1;
    background-color: rgb(37, 37, 37);
    
}




.bgc {
    position: absolute;
    margin-left: 4vw; 
    margin-top: 9vh;
    height: 83.5vh;
    width: 83.5vh;
    display: grid;
    grid-template-rows: repeat(11, 7.5vh);
    grid-template-columns: repeat(11, 7.5vh);
    gap: 1px;
    grid-template-areas:
    "a1 a2 a3 a4 a5 a6 a7 a8 a9 a10 a11"
    "a12 a86 a86 a86 a13 a14 a15 a87 a87 a87 a16"
    "a17 a86 a86 a86 a18 a19 a20 a87 a87 a87 a21"
    "a22 a86 a86 a86 a23 a24 a25 a87 a87 a87 a26"
    "a27 a28 a29 a30 a31 a32 a33 a34 a35 a36 a37"
    "a38 a39 a40 a41 a42 a43 a44 a45 a46 a47 a48"
    "a49 a50 a51 a52 a53 a54 a55 a56 a57 a58 a59"
    "a60 a88 a88 a88 a61 a62 a63 a89 a89 a89 a64"
    "a65 a88 a88 a88 a66 a67 a68 a89 a89 a89 a69"
    "a70 a88 a88 a88 a71 a72 a73 a89 a89 a89 a74"
    "a75 a76 a77 a78 a79 a80 a81 a82 a83 a84 a85"
    ;
    
}

.base{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20%;

}
