*{
    margin: 0;
    padding: 0;
    border-radius: 3px;
    user-select: none;
}

.stats {
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    /* box-sizing: border-box; */
    margin-left: 30px;
    width: 700px;
    color: wheat;
    border: 1px solid rgba(255, 255, 0, 0.534);
    border-radius: 3px;
    box-shadow: 0 0  3px rgba(255, 255, 0, 0.534);


}

.stats_bgc {
    position: absolute;
    border: 1px solid rgba(255, 255, 0, 0.534);
    width: 710px;
    margin-top: 0.5%;
    margin-left: -8px;
    height: 98%;
    box-shadow: 0 0  3px rgba(255, 255, 0, 0.534);

}
.character, .attributes, .protection, .skills {
    box-sizing: border-box;
    margin: 30px;
    width: 43%;
    border: 1px solid rgba(255, 255, 0, 0.534);
    
}


h2 {
    background-color: rgb(27, 27, 27);
    margin-top: -15px;
    margin-left: 14%;
    padding: 2px;
    border: 1px solid rgba(255, 255, 0, 0.534);
    width: 230px;
    display: flex;
    font-family: new_gothic_font, sans-serif;
    font-size: 20px;
    justify-content: center;
    /* margin-bottom: 10px; */
}

.skills {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45%;
    display: inline-block;
}

 p {
    margin-left: 5px;
    font-family: gothic_font, sans-serif;
} 

.names {
    display: inline-block;
    padding: 2px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;


}

.values {
    padding: 2px;
    display: inline-block;
   
    /* width: 30%; */
}

.percent {
    width: 16%;
    padding: 2px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

