@font-face {
  font-family: gothic_font;
  src: url(../public/fonts/gothic_font.ttf) format('truetype'); /* lub 'opentype' dla plików OTF */
}

*{
  margin: 0;
  padding: 0;
  font-family: gothic_font, sans-serif;
  user-select: none;

}

body{
  background-color: rgb(65, 70, 58);
}




